@charset "utf-8";
/* CSS Document */
.body {
	margin: 0% 7% ;
}
ul, li {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display:inline;
}

li > a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 14px 16px;
}

a:hover {
	color: #a0a0a0;
}

.logo {
	vertical-align: middle;
    border-style: none;
	height: 100px;
    position: relative;
    left: 3em;
	top:-10px;
}

.nav-header {
	float:right!important;
}

.search-bar {
	position: relative;
	left: 320px;
	z-index: auto;
}

.container {
	margin-top: 2em;
}


.nav-panels {
	margin-top:1em;
	position:relative;
	right: 4em;
}


.food_img {
	width: 900px;
}



.paragraph-content {
	font-size: 20px;
	margin: 0% .5em 0% .5em;
	text-align: justify;
	font-family: 'Noto Serif', serif;
}

.footer-align-center {
	float:center!important;
}


.footer {
	position:relative;
	text-align: center;
	margin: 0%;
	top:2em;
}

#share_mo_lang {
	display: block;
	position: relative;
	float: right;
}
